@page
@addTagHelper *, Boa.Identity.UI
@model BoaForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1>@ViewData["Title"]</h1>
<h2>@Model.Message.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <resetpasswordservices asp-for="Input.Method" bootstrap="Bootstrap4" data="Model.Data"></resetpasswordservices>
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
